.details {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.album {
  width: 4em;
  height: 4em;
  border-radius: 3px;
}

.details_text {
  width: 100%;
  min-width: 0;
}

.head, .rib {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.head {
  font-weight: 600;
}

.rib {
  font-size: 0.9em;
}
